apiVersion: v1
kind: Service
metadata:
  name: flask-app
spec:
  type: ClusterIP 
  selector:
    app: flask-app
  ports:
  - protocol: TCP
    port: 5500 
    targetPort: 5500 
---
apiVersion: apps/v1
kind: Deployment
metadata:
  name: flask-deployment
  labels:
    app: flask-app
spec:
  replicas: 10
  selector:
    matchLabels:
      app: flask-app  
  strategy:
    rollingUpdate:
      maxSurge: 25%
      maxUnavailable: 25%
  template:
    metadata:
      labels:
        app: flask-app      
    spec:
       containers:
       - name: flask-app
         image: michaelyarborough/task1kube
         imagePullPolicy: Always
         ports: 
         - containerPort: 5500